flask
flask_cors
# flask[async]
python-dotenv

beautifulsoup4==4.12.2
feedparser

requests
requests-html
requests-cache
webflow

swifter

lxml
urllib3
# html5lib # https://stackoverflow.com/a/73403774

pandas
numpy

pygooglenews==0.1.3
googlenewsdecoder

scikit-learn
faiss-cpu
sentence_transformers

openai
langchain
langchain-core
langchain-community
ollama

# chromadb
# ipykernel

gunicorn
