flask
python-dotenv

beautifulsoup4==4.12.2
feedparser

requests
requests-html

lxml
urllib3

pandas
numpy

pygooglenews==0.1.3

scikit-learn
faiss-cpu

openai
langchain
langchain-core
langchain-community
ollama

# chromadb
# ipykernel
