flask
python-dotenv

requests
requests-html

lxml
urllib3

openai

# web scraping libaries
beautifulsoup4==4.9.3
feedparser

# news api packages (may use multiple or just one)
newsapi-python
pygooglenews