<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Canadian Financial News Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
  </head>
  <body>
    <header>
      <h1>Highline Beta's RSS Aggregator</h1>
      <form id="searchForm" action="{{ url_for('search') }}" method="GET">
        <input type="text" name="query" placeholder="Search For Keyword" value="{{ query }}" />
        <button type="submit">Search</button>
      </form>
    </header>

    <!-- queries -->
    <div class="queries">
      <div id="queriesDescription">
        <button id="openQueriesDescriptionDialog">Searching the following feeds...</button>
        <dialog id="queriesDescriptionDialog">
          <button id="closeQueriesDescriptionDialog">Close</button>
          <div id="description">
            <h3>Searching the following:</h3>
            <div class="google-news">
              <h4>from Google News:</h4>
              <ul>
                {% for query in google_queries %}
                <li>{{ query }}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="websites">
              <h4>from these websites:</h4>
              <!-- <ul>
                {% for query in queries %}
                <li>{{ query }}</li>
                {% endfor %}
              </ul> -->
            </div>
            <div class="rss-feeds">
              <h4>from these RSS feeds:</h4>
              <ul>
                {% for feed in rss_feeds %}
                <li>{{ feed }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </dialog>
      </div>
    </div>

    <div id="totalNumberOfPagesOfArticlesFound">
      Found {{ total_pages }} total pages of articles.
    </div>

    <!-- filters -->
    <div class="filters">
      <h2>Filter:</h2>

      <div class="sourcesFilter">
        <button id="openSourcesDialog">By Source</button>
        <dialog id="filterSourcesDialog">
          <button id="closeSourcesDialog">Close</button>
          <form
            id="sourceFilterForm"
            method="GET"
            action="{% if query %}{{ url_for('search') }}{% else %}{{ url_for('index') }}{% endif %}">
            <ul>
              {% for source in sources %}
              <li>
                <input
                  type="checkbox"
                  name="source"
                  value="{{ source }}"
                  {%
                  if
                  source
                  in
                  selected_sources
                  %}checked{%
                  endif
                  %} />
                {{ source }}
              </li>
              {% endfor %}
            </ul>
            <button type="submit">Apply Filters</button>
          </form>
        </dialog>
      </div>

      <div class="googleSearchFilter">
        <button id="openGoogleSearchDialog">By Google Search</button>
        <dialog id="filterGoogleSearchDialog">
          <button id="closeGoogleSearchDialog">Close</button>
          <form
            method="GET"
            action="{% if query %}{{ url_for('search', query=query) }}{% else %}{{ url_for('index') }}{% endif %}">
            >
            <ul>
              {% for search in google_queries %}
              <li>
                <input
                  type="checkbox"
                  name="google_search"
                  value="{{ search }}"
                  {%
                  if
                  search
                  in
                  selected_google_searches
                  %}checked{%
                  endif
                  %} />
                {{ search }}
              </li>
              {% endfor %}
            </ul>
            <button type="submit">Apply Filters</button>
          </form>
        </dialog>
      </div>
    </div>

    <!-- sorting -->
    <div class="sorting">
      <h2>Sort by:</h2>

      <div>
        <h3>Date:</h3>
        <button id="sortDateAsc">Oldest</button>
        <button id="sortDateDesc">Most Recent</button>
      </div>

      <div>
        <h3>Title:</h3>
        <button id="sortTitleAsc">A → Z</button>
        <button id="sortTitleDesc">Z → A</button>
      </div>
    </div>

    <!-- what index and search_results use -->
    {% block content %}{% endblock %}

    <!-- pagination -->
    {% block pagination %}{% endblock %}
  </body>
</html>
