<!-- base -->
{% extends 'base.html' %}
<!-- content -->

{% block content %}
<div class="container" style="display: flex; flex-direction: column; gap: 20px">
  <div>
    <h1>Step 1: Crawl for New Articles</h1>
    <p>
      Click the button below to start crawling google news and rss feeds for new articles and saving
      unique ones to the database (to avoid deduplication).
    </p>
    <button id="crawl-button" class="btn btn-primary">Crawl for New Articles</button>
    <p id="crawl-status"></p>
  </div>
  <div>
    <h1>Step 2: Scrape Online Text of Articles</h1>
    <p>
      Click the button below to start retrieving online text from articles that have not been
      scraped. This step is necessary to get the full text of the articles.
    </p>
    <button id="scrape-button" class="btn btn-primary">Scrape Existing Articles</button>
    <p id="scrape-status"></p>
  </div>
  <div>
    <h1>Step 3: Generate Content for Articles</h1>
    <h2>Generate Categories of Articles with AI</h2>
    <p>
      Click the button below to start generating content for articles, with provided online text,
      using local LLM / OpenAI (with provided OPENAI_API_KEY).
    </p>
    <button id="generate-categories-button" class="btn btn-primary">Generate Categories</button>
    <p id="generate-categories-status"></p>
    <h2>Generate Summaries of Articles with AI</h2>
    <p>
      Click the button below to start generating content for articles, with provided online text,
      using local LLM / OpenAI (with provided OPENAI_API_KEY).
    </p>
    <button id="generate-summaries-button" class="btn btn-primary">Generate Summaries</button>
    <p id="generate-summaries-status"></p>
  </div>
</div>
<script>
  const crawlNewsButton = document.getElementById("crawl-button");
  const scrapeArticlesButton = document.getElementById("scrape-button");
  const generateCategoriesButton = document.getElementById("generate-categories-button");
  const generateSummariesButton = document.getElementById("generate-summaries-button");
  const buttons = [
    crawlNewsButton,
    scrapeArticlesButton,
    generateCategoriesButton,
    generateSummariesButton,
  ];
  let isOperationInProgress = false;

  function toggleButtons(disabled) {
    buttons.forEach((button) => {
      button.disabled = disabled;
    });
  }

  function setOperationInProgress(inProgress) {
    isOperationInProgress = inProgress;
    toggleButtons(inProgress);
  }

  window.addEventListener("beforeunload", function (event) {
    if (isOperationInProgress) {
      event.preventDefault();
      event.returnValue = "An operation is still in progress. Please wait until it is completed.";
    }
  });

  crawlNewsButton.addEventListener("click", async function () {
    setOperationInProgress(true);
    const statusElement = document.getElementById("crawl-status");
    statusElement.innerText = "Crawling for new articles. Adding them to the database...";
    const response = await fetch("{{ url_for('api_routes.crawl_for_news') }}", {
      method: "GET",
    });

    if (response.ok) {
      statusElement.innerHTML = `Crawling completed. <a href="{{ url_for('client_routes.news_items_on_display') }}">View the new articles added.</a>`;
    }
    setOperationInProgress(false);
  });

  scrapeArticlesButton.addEventListener("click", async function () {
    setOperationInProgress(true);
    const scrapeStatusElement = document.getElementById("scrape-status");
    scrapeStatusElement.innerText = "Scraping articles. Updating the database...";
    const response = await fetch("{{ url_for('api_routes.scrape_articles') }}", {
      method: "GET",
    });

    if (response.ok) {
      scrapeStatusElement.innerHTML = `Scraping completed. <a href="{{ url_for('client_routes.news_items_on_display') }}">View the updated articles.</a>`;
    }
    setOperationInProgress(false);
  });

  generateCategoriesButton.addEventListener("click", async function () {
    setOperationInProgress(true);
    const generateStatusElement = document.getElementById("generate-categories-status");
    generateStatusElement.innerText = "Generating content for articles. Updating the database...";
    const response = await fetch("{{ url_for('api_routes.generate_categories') }}", {
      method: "GET",
    });

    if (response.ok) {
      generateStatusElement.innerHTML = `Content generation completed. <a href="{{ url_for('client_routes.news_items_on_display') }}">View the updated articles.</a>`;
    }
    setOperationInProgress(false);
  });

  generateSummariesButton.addEventListener("click", async function () {
    setOperationInProgress(true);
    const generateStatusElement = document.getElementById("generate-summaries-status");
    generateStatusElement.innerText = "Generating content for articles. Updating the database...";
    const response = await fetch("{{ url_for('api_routes.generate_summaries') }}", {
      method: "GET",
    });

    if (response.ok) {
      generateStatusElement.innerHTML = `Content generation completed. <a href="{{ url_for('client_routes.news_items_on_display') }}">View the updated articles.</a>`;
    }
    setOperationInProgress(false);
  });
</script>
{% endblock %}
