<!-- base -->
{% extends 'base.html' %}
<!-- content -->

{% block content %}
<div class="container" style="display: flex; flex-direction: column; gap: 20px">
  <div>
    <h1>Crawl for New Articles</h1>
    <p>Click the button below to start crawling for new articles.</p>
    <button id="crawl-button" class="btn btn-primary">Crawl for New Articles</button>
    <p id="crawl-status"></p>
  </div>
  <div>
    <h1>Scrape Online Content of Articles</h1>
    <p>Click the button below to start retrieving online content from articles.</p>
    <button id="scrape-button" class="btn btn-primary">Scrape Existing Articles</button>
    <p id="scrape-status"></p>
  </div>
  <div>
    <h1>Generate Content for Articles with AI</h1>
    <p>
      Click the button below to start generating content for articles using local LLM / OpenAI (with
      provided OPENAI_API_KEY).
    </p>
    <button id="generate-button" class="btn btn-primary">Generate Content</button>
    <p id="generate-status"></p>
  </div>
</div>
<script>
  const crawlNewsButton = document.getElementById("crawl-button");
  const statusElement = document.getElementById("crawl-status");

  crawlNewsButton.addEventListener("click", async function () {
    statusElement.innerText = "Crawling for new articles. Adding them to the database...";
    const response = await fetch("{{ url_for('api_routes.news') }}", {
      method: "POST",
    });

    if (response.ok) {
      statusElement.innerHTML = `Crawling completed. <a href="{{ url_for('client_routes.news_items_on_display') }}">View the new articles added.</a>`;
    }
  });

  const scrapeArticlesButton = document.getElementById("scrape-button");
  const scrapeStatusElement = document.getElementById("scrape-status");
  scrapeArticlesButton.addEventListener("click", async function () {
    scrapeStatusElement.innerText = "Scraping articles. Updating the database...";
    const response = await fetch("{{ url_for('api_routes.scrape_articles') }}", {
      method: "POST",
    });

    if (response.ok) {
      scrapeStatusElement.innerHTML = `Scraping completed. <a href="{{ url_for('client_routes.news_items_on_display') }}">View the updated articles.</a>`;
    }
  });

  const generateArticlesButton = document.getElementById("generate-button");
  const generateStatusElement = document.getElementById("generate-status");
  generateArticlesButton.addEventListener("click", async function () {
    generateStatusElement.innerText = "Generating content for articles. Updating the database...";
    const response = await fetch("{{ url_for('api_routes.generate_content') }}", {
      method: "POST",
    });

    if (response.ok) {
      generateStatusElement.innerHTML = `Content generation completed. <a href="{{ url_for('client_routes.news_items_on_display') }}">View the updated articles.</a>`;
    }
  });
</script>
{% endblock %}
