<!-- base -->
{% extends 'base.html' %}

<!-- content -->
{% block content %}
<div class="articles">
  {% for newsItem in news_items %}
  <article>
    <h2>
      <a href="{{ newsItem.online_URL or newsItem.data_URL }}" target="_blank">
        {{ newsItem.get_title() }}
      </a>
    </h2>
    <div class="article-meta">
      <div class="meta-info">
        <p>Published: {{ newsItem.get_date_published() }}</p>
        <p>Source: {{ newsItem.get_news_source() }}</p>
        <p>Author: {{ newsItem.extracted_author or newsItem.data_json.author or 'Unknown' }}</p>
      </div>
      <div class="toggle-display">
        <label for="toggle-{{ newsItem.id }}">
          <input
            type="checkbox"
            id="toggle-{{ newsItem.id }}"
            class="toggle-display"
            data-id="{{ newsItem.id }}"
            {%
            if
            newsItem.selected_for_display
            %}checked{%
            endif
            %} />
          Download to CSV
        </label>
      </div>
    </div>
    <div class="article-details">
      <p>Category: {{ newsItem.generated_category or 'Uncategorized' }}</p>
      <p>
        Summary: {{ newsItem.generated_summary or newsItem.get_article_summary() or "No summary
        available." }}
      </p>
    </div>
  </article>
  {% endfor %}
</div>
<button id="download-csv" class="btn btn-primary">Download</button>
<script>
  document.querySelectorAll(".toggle-display").forEach((checkbox) => {
    checkbox.addEventListener("change", (event) => {
      const articleId = event.target.dataset.id;
      const isSelected = event.target.checked;
      fetch(`/api/toggle_display/${articleId}`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ selected: isSelected }),
      });
    });
  });

  document.getElementById("download-csv").addEventListener("click", () => {
    window.location.href = "/api/download_csv";
  });
</script>
{% endblock %}

<!-- pagination -->
{% block pagination %}
<div class="pagination">
  {% if page > 1 %}
  <a
    href="{{ url_for('index', page=page-1, sort_date=sort_date, sort_title=sort_title, source=selected_sources) }}"
    >Previous</a
  >
  {% endif %} {% if page < total_pages %}
  <a
    href="{{ url_for('index', page=page+1, sort_date=sort_date, sort_title=sort_title, source=selected_sources) }}"
    >Next</a
  >
  {% endif %}
</div>
{% endblock %}
