{% extends 'base.html' %} {% block content %}
<div class="filters">
  <h3>Filter:</h3>
  <button id="openSourcesDialog">By Source</button>
  <dialog id="filterSourcesDialog">
    <button id="closeSourcesDialog">Close</button>
    <ul>
      {% for source in sources %}
      <!-- <li>
        <input
          type="checkbox"
          id="{{ source }}"
          name="source"
          value="{{ source }}"
          {%
          if
          source
          in
          selected_sources
          %}checked{%
          endif
          %} />

        {{ source }}
      </li> -->
      <li><a href="{{ url_for('index', source=source) }}">{{ source }}</a></li>
      {% endfor %}
    </ul>
  </dialog>
</div>
<div class="sorting">
  <h2>Sort by:</h2>

  <h3>Date:</h3>
  <button id="sortDateAsc">Ascending</button>
  <button id="sortDateDesc">Descending</button>

  <h3>Title:</h3>
  <button id="sortTitleAsc">A → Z</button>
  <button id="sortTitleDesc">Z → A</button>
</div>
<div class="queries">
  <h3>Searching following queries:</h3>
  <div class="google-news">
    <h4>from Google News</h4>
    <ul>
      {% for query in queries %}
      <li>{{ query }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="rss-feeds">
    <h4>from these RSS feeds</h4>
    <!-- <ul>
      {% for query in queries %}
      <li>{{ query }}</li>
      {% endfor %}
    </ul> -->
  </div>
  <div class="websites">
    <h4>from these websites</h4>
    <ul>
      <!-- {% for query in queries %}
      <li>{{ query }}</li>
      {% endfor %} -->
    </ul>
  </div>
</div>
<div class="articles">
  {% for article in articles %}
  <article>
    <h2><a href="{{ article[1].link or article[1].url }}">{{ article[1].title }}</a></h2>
    <p>Published: {{ article[2] }}</p>
    <p>Source: {{ article[0] }}</p>
    <input
      type="checkbox"
      id="{{ article[1].title | escape }}"
      name="is_rss_{{ article[1].title | escape }}"
      {%
      if
      article[3]
      %}checked{%
      endif
      %}
      disabled />
    <p>Google Search: {{ article[4] or "No" }}</p>
  </article>
  {% endfor %}
</div>
<div class="pagination">
  {% if page > 1 %}
  <a
    href="{{ url_for('index', page=page-1, sort_date=sort_date, sort_title=sort_title, source=selected_sources) }}"
    >Previous</a
  >
  {% endif %} {% if page < total_pages %}
  <a
    href="{{ url_for('index', page=page+1, sort_date=sort_date, sort_title=sort_title, source=selected_sources) }}"
    >Next</a
  >
  {% endif %}
</div>
<script>
  // for sources
  const openSourcesDialogButton = document.getElementById("openSourcesDialog");
  const closeDialogSourcesButton = document.getElementById("closeSourcesDialog");
  const filterSourcesDialog = document.getElementById("filterSourcesDialog");

  openSourcesDialogButton.addEventListener("click", () => {
    filterSourcesDialog.showModal();
  });

  closeDialogSourcesButton.addEventListener("click", () => {
    filterSourcesDialog.close();
  });

  // Sorting by date
  document.getElementById("sortDateAsc").addEventListener("click", () => {
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set("sort_date", "asc");
    urlParams.delete("sort_title"); // Clear other sorting parameters
    window.location.search = urlParams.toString();
  });

  document.getElementById("sortDateDesc").addEventListener("click", () => {
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set("sort_date", "desc");
    urlParams.delete("sort_title"); // Clear other sorting parameters
    window.location.search = urlParams.toString();
  });

  // Sorting by title
  document.getElementById("sortTitleAsc").addEventListener("click", () => {
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set("sort_title", "asc");
    urlParams.delete("sort_date"); // Clear other sorting parameters
    window.location.search = urlParams.toString();
  });

  document.getElementById("sortTitleDesc").addEventListener("click", () => {
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set("sort_title", "desc");
    urlParams.delete("sort_date"); // Clear other sorting parameters
    window.location.search = urlParams.toString();
  });
</script>
{% endblock %}
