<!-- base -->
{% extends 'base.html' %}

<!-- content -->
{% block content %}
<div class="articles">
  {% for article in articles %}
  <article>
    <h2>
      <a href="{{ article.link_url or article.entry.link }}">{{ article.title }}</a>
    </h2>
    <p>Published: {{ article.date_published }}</p>
    <p>Source: {{ article.source }}</p>
    <p>Search: {{ article.from_rss_or_query }}</p>
  </article>
  {% endfor %}
</div>
{% endblock %}

<!-- pagination -->
{% block pagination %}
<div class="pagination">
  {% if page > 1 %}
  <a
    href="{{ url_for('index', page=page-1, sort_date=sort_date, sort_title=sort_title, source=selected_sources, google_search=selected_google_search) }}"
    >Previous</a
  >
  {% endif %} {% if page < total_pages %}
  <a
    href="{{ url_for('index', page=page+1, sort_date=sort_date, sort_title=sort_title, source=selected_sources, google_search=selected_google_search) }}"
    >Next</a
  >
  {% endif %}
</div>
{% endblock %}
