{% extends 'news_items/base.html' %}

<!-- content start block -->
{% block content %}

<div class="container">
  <h2>{{title}}</h2>
  <p>Sorted by Supabase DB ID</p>
</div>

<!-- pagination block -->
{% include 'news_items/pagination.html' %}

<!-- <div class="container">
  <button id="download-csv-all">Download All Articles as CSV</button>
</div> -->

<!-- articles block -->
{% include 'news_items/list.html' %}

<!-- pagination block -->
{% include 'news_items/pagination.html' %}

<script></script>

{% endblock %}
